$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$dark-blue-2: hsl(215, 27%, 12%);
$very-dark-blue: hsl(216, 12%, 8%);
$component-height: 420px;
$component-width: 410px;