@use "./reset";
@use "./variables";

.wrapper {
  align-items: center;
  background-color: variables.$very-dark-blue;
  display: flex;
  font-family: 'Overpass', sans-serif;
  justify-content: center;
  min-height: 100vh;
}

.component {
  background-color: black;
  // background-color: variables.$dark-blue;
  border-radius: 2rem;
  max-width: 410px;
  padding: 2rem;

  &__title {
    color: variables.$white;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: .75rem;
  }

  &__text {
    color: variables.$medium-grey;
    font-size: 15px;
    margin-bottom: 1.75rem;
    line-height: 1.5;
  }

  &__final {
    display: none;
  }

  &__submit {
    border: 0;
    border-radius: 2rem;
    background-color: variables.$orange;
    color: variables.$white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 1rem;
    text-transform: uppercase;
    width: 100%;
  }
}

.rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  &__btn {
    aspect-ratio: 1;
    background-color: variables.$dark-blue;
    border: 0;
    border-radius: 50%;
    color: variables.$light-grey;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 1.25rem;
  }
}