* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.wrapper {
  align-items: center;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  font-family: "Overpass", sans-serif;
  justify-content: center;
  min-height: 100vh;
}

.component {
  animation: slide 0.65s;
  background-color: black;
  background-image: radial-gradient(circle at top, hsl(213, 19%, 18%), hsl(215, 27%, 12%));
  border-radius: 2rem;
  max-width: 410px;
  width: 410px;
  height: 420px;
  max-height: 420px;
}
.component__rating {
  padding: 2rem;
}
.component__icon {
  background: url("../../images/icon-star.svg") no-repeat center hsl(213, 19%, 18%);
  margin-bottom: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  width: 50px;
}
.component__img {
  display: block;
  margin: 0 auto 2rem auto;
}
.component__title {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}
.component__text {
  color: hsl(216, 12%, 54%);
  font-size: 15px;
  margin-bottom: 1.75rem;
  line-height: 1.6;
}
.component__text--info {
  background-color: hsl(213, 19%, 18%);
  border-radius: 1rem;
  color: hsl(25, 97%, 53%);
  display: inline-block;
  margin-bottom: 2rem;
  padding: 0.25rem 1.2rem;
}
.component__final {
  display: none;
  padding: 2.75rem 2.25rem;
  text-align: center;
}
.component__submit {
  border: 0;
  border-radius: 2rem;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0.85rem;
  text-transform: uppercase;
  width: 100%;
  transition: background-color 0.25s, color 0.25s;
}
.component__submit:focus, .component__submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.rating__btn {
  background-color: hsl(213, 19%, 18%);
  border: 0;
  color: hsl(217, 12%, 63%);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 0 1.35rem;
  aspect-ratio: 1;
  border-radius: 50%;
  width: 50px;
  transition: background-color 0.25s, color 0.25s;
}
.rating__btn:focus, .rating__btn:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}